.choresBody{
   border: 1px solid white;
}

.choresText {
   color: rgb(73, 238, 73);
   font-size: 1.3vw;
   text-decoration: underline;
   font-style: italic; 
}

.choresHeading {
   color: rgb(241, 206, 45);
}